.layout {
    display: flex;
}

.aside {
    width: 300px;
    height: 52em;
    background-color: rgba(235, 237, 240, 1);
    color: white;
    padding: 20px;
}

.home-container {
    padding: 20px;
}

.lista-aside {
    display: flex;
    flex-direction: column;
    border: none;
    margin-top: 50px;
}

.btns {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 15px;
    border: none;
    background-color: rgba(235, 237, 240, 1);
    color: #173F7A;
    font-size: 32px;
    padding: 20px 25px;
    cursor: pointer;
}

.btns:hover {
    transform: scale(1.12);
    background-color: rgba(23, 63, 122, 0.12);
}

aside h1 {
    color: #173F7A;
    text-align: end;
}

.span-color {
    color: #F59E0B;
}