.header-content {
    font-family: sans-serif;
    display: flex;
    padding: 10px 80px;
    background-color: rgb(7, 15, 133);
    color: white;
    justify-content: end;
}
.header-button{
    font-size: 30px;
     background-color: rgb(7, 15, 133);
     color: white;
     border: none;
}
.header-button:hover {
    background-color: rgb(20, 30, 180);
    transform: scale(1.15);
    cursor: pointer;
}

