/* Centraliza na tela */
.register-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

}

/* Card */
.card-register {
  background: #ffffff;
  padding: 30px;
  border-radius: 12px;
  width: 320px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  text-align: center;
}

/* Título */
.card-register h2 {
  margin-bottom: 20px;
  color: #333;
}

/* Inputs */
.inputs {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 20px;
}

/* Botão */
.btn-register {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 8px;
  background: #22c55e;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;
}

.btn-register:hover {
  background: #16a34a;
}
